/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Built gem packages (distribution artifacts are not managed by Git)
*.gem

# Gemfile.lock is usually not committed when publishing as a library (gem)
Gemfile.lock

# C/C++ compilation artifacts
*.o
*.so
*.dylib
*.dll
*.a

# Extension build artifacts
ext/**/Makefile
ext/**/mkmf.log
ext/**/*.o
ext/**/*.so

